################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

packages
/.vs/FinalProject
/DataAccess/bin/Debug
/DataAccess/obj/Debug
/Entities/bin/Debug
/Entities/obj/Debug
/Services/bin/Debug
/Services/obj/Debug
/Web/obj/Debug
/Web/bin
