@model IEnumerable<Web.Models.RecipeViewModel>

@{
    ViewBag.Title = "Recipes";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    @for (var i = 0; i < Model.Count(); i += 3)
    {

    <div class="row">
        @for (var j = 0; j < 3; j++)
        {
            if (i + j >= Model.Count())
            {
                break;
            }
            var item = Model.Skip(i + j).Take(1).FirstOrDefault();
            <div class="col-md-4">
                <div class="recipe-box">
                    <a href="@Url.Action("Details", "Recipes", new { id = item.RecipeId })">
                        <div class="recipe-details">
                            @if (item.ImageUrl != null)
                            {
                                <img class="img-thumbnail" alt="no image" width="313"
                                     src="@Url.Content("~/UploadedFiles/Recipes/" + item.ImageUrl)" />
                            }
                        </div>
                    </a>
                    <h2 class="rec-title">
                        <span class="label label-warning">@Html.DisplayFor(modelItem => item.TitleTrim)</span>
                    </h2>
                </div>
            </div>
        }
    </div>
    }
</div>