@model IEnumerable<Entities.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    @{var idx = 0;
        foreach (var item in Model)
        {
            if (idx % 3 == 0)
            {
                <text>
                    <div class="row">
                </text>
            }
                        <div class="col-md-4">
                            <div class="recipe-box">
                                <a href="@Url.Action("Details", "Recipes", new { id = item.RecipeId })">
                                    <div class="recipe-details">
                                        @if (item.ImageUrl != null)
                                        {
                                            <img class="img-thumbnail" alt="no image" width="313"
                                                 src="@Url.Content("~/UploadedFiles/Recipes/" + item.ImageUrl)" />
                                        }
                                    </div>
                                </a>
                                <h2>
                                    <span class="label label-warning">@Html.DisplayFor(modelItem => item.Title)</span>
                                </h2>
                            </div>
                        </div>
            idx++;
        }
    }
</div>