@{
    ViewBag.Title = "Home Page";
}


    <div>
        <h3>Admin</h3>
        @Html.ActionLink("Recipes", "Index", "Recipes")<br />
        @Html.ActionLink("Categories", "Index", "Categories")
    </div>

