body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    width: 100px;
}

/*@media (max-width: 768px) {
    .hide-small{
        display:none;
    }
}*/

.top-menu > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display:inline-block;
}

.top-menu > ul > li {
    position: relative;
    display: block;
    list-style: none;
    float:left;
}

    .top-menu > ul > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }

div.top-menu {
    vertical-align: middle;
    display: inline;
    float: unset;
}

div.recipe-details{
    height:250px;
}

div.recipe-box {
    border: solid 1px gainsboro;
    margin-bottom: 20px;
}

img.recipe-full-img{
    max-height:500px;
}

div.tab-recipes hr{
    border:1px solid gray;
}

.recipe-details img {
    height: 313px;
    width: 359px;
}

.stars-orange .glyphicon {
    color: orange;
}

.recipe-details-rpane .row{
    margin-top:10px;
}

.recipe-details-cat div span.label.label-default {
    margin-right: 10px;
}

.tab-recipes #review ul.rec-rev li{
    background-color: transparent;
    border: none;
    list-style-type: decimal;
}